<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ConnectionStringName" connectionString="77582b4c4252486d53586a7a6f68337477427746527767784e6b5a5432554f6d5a39424e4732685946734c704c7a4134784535414b416751733373544971486850386d6a53716e6151494b6441784a44356f69374a4a794c334a7030732f646f6f567a786d6a742f6876563633707859555359304a57416c7773484f586a647971732b575978526538555862313541564472646e6f714a794652545968584a71785755686c5335474841553d" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionStringName" connectionString="77582b4c4252486d53586a7a6f68337477427746522b68784e794c7263547758566b58632b46396d4d645a4a4e614c51464c6f50415335434f47445148306d68376c4646656848495133726e4b527153644c486e6569524b6a46795742684f47354a48476a62487051637369623558306e6955584a4a7a6c47592b78357958384f6163717638353830674937366e334a68644b75457a553162573933365a4d64" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionStringName" connectionString="77582b4c4252486d53586a7a6f68337477427746527767784e6b5a5432554f6d5a39424e4732685946734c704c7a4134784535414b416751733373544971486850386d6a53716e6151494c6c2b574762746b2f4e444e737a6c6b65666245357362377975754c7a753051347056666166694c76334f4557335038344961324441654768724d537673644d6e6c56786d486d363970567769674d6e3643384e7147" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionStringName" connectionString="77582b4c4252486d53586a7a6f68337477427746527767784e6b5a5432554f6d5a39424e4732685946734c704c7a4134784535414b416751733373544971486850386d6a53716e6151494a795579557a437357374d575a324c46507a6f7758316b6931595131534b376372594b304f66474f57757a4e6d572f304a69494f3559716254682b755867696c43784f5733443375526d4144366e66672f364162556c4d705a6d367078346a486b3d" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <!--ProcessName:工位过滤-->
    <!--PathConfig:路径设置实例-->
    <!--AutoLoadStateBySN:根据条码是否自动加载状态文件-->
    <!--ResultListerner:测试结果呈现和处理实例 value="generalcsvloglib.dll;GeneralCSVLogLib.GeneralCSVLog,testresultmarkerdip.dll;TestResultMarkerDip.ResultMarkerDisplay_UC-->
    <!--LocalSettingsStarter:本地设置开始执行实例 value=xxx.dll;xxx.xxx-->
    <!--TestPlanTemplate:测试方案模板实例 value=xxx.dll;xxx.xxx-->
    <!--TestPlanSeq:测试方案开始和结束执行实例,用来在测试方案加载、开始和结束的时候执行定制化内容 value=xxx.dll;xxx.xxx-->
    <!--ATEKind 测试项目类型-->
    <!--ATEStatusFile  状态文件审核-->
    <!--MesMode 是否是MES模式-->
    <!--AutoLoadStateFile 联机版是否自动加载上次的状态文件-->
    <add key="ProcessName" value="" />
    <add key="AutoConnect" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="PathConfig" value="" />
    <add key="AutoLoadStateBySN" value="false" />
    <add key="ATEKind" value="ATEEL" />
    <add key="ATEStatusFile" value="false" />
    <add key="MesMode" value="true" />
    <add key="ResultListerner" value="generalcsvloglib.dll;GeneralCSVLogLib.GeneralCSVLog,testresultmarkerdip.dll;TestResultMarkerDip.ResultMarkerDisplay_UC,testresultmarkerdip.dll;TestResultMarkerDip.ResultMarkerGridDisplay_UC,testresultmarkerdip.dll;TestResultMarkerDip.ResultDataOverView,DataUpload.dll;DataUpload.ATEDataUtilsUserControl,                                       symt_pim.dll;SYMT_PIM.PIMTestResult,resultdisplay.dll;ResultDisplay.ResultDisplay2,generalcsvloglib.dll;GeneralCSVLogLib.GeneralCSVLog" />
    <add key="LocalSettingsStarter" value=""/>
    <add key="AutoLoadStateFile" value="true"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_SymtIService" />
      </basicHttpBinding> 
    </bindings>
    <client>
      <!--<endpoint address="http://192.168.1.13:9099/SymtService.svc?wsdl" binding="basicHttpBinding"-->
      <!--<endpoint address="http://192.168.176.111:8088/SymtService.svc?wsdl" binding="basicHttpBinding"-->
      <!--<endpoint address="http://192.168.20.45:9099/SymtService.svc?wsdl" binding="basicHttpBinding"-->
      <!--<endpoint address="http://10.19.3.7:9099/SymtService.svc?wsdl" binding="basicHttpBinding"-->
      <endpoint address="http://192.168.53.240:9099/SymtService.svc?wsdl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SymtIService" contract="myService.SymtIService" name="BasicHttpBinding_SymtIService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
