<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SymtIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.53.240:8098/SymtService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SymtIService"
                contract="myService.SymtIService" name="BasicHttpBinding_SymtIService" />
        </client>
    </system.serviceModel>
</configuration>