<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataUtils.Properties.Settings.symtant_trConnectionString"
            connectionString="Data Source=LENOVO-PC;Initial Catalog=symtant_tr;Persist Security Info=True;User ID=symtant;Password=symtant"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_SymtIService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49297/SymtService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_SymtIService" contract="myService.SymtIService"
                name="BasicHttpBinding_SymtIService" />
        </client>
    </system.serviceModel>
</configuration>